Package: me.virulent.ios.tweaks.ccsentryloader
Name: CCSentryLoader
Depends: mobilesubstrate, preferenceloader, applist
Version: 1.0.0
Architecture: iphoneos-arm
Description: Dynamically loads the Sentry error handling framework into iOS applications.
 CCSentryLoader dynamically loads Sentry.framework into iOS apps
 on jailbroken devices. Configuration is via the CCSentryLoader menu in Settings.app
 For more info, see https://github.com/webfrogs/CCRevealLoader (CCSentryLoader is a fork of CCRevealLoader), https://github.com/maxwlang/CCSentryLoader and https://sentry.io
Maintainer: Maxwell Lang <maxwell@vmail.science>
Author: Maxwell Lang <maxwell@vmail.science>
Section: Tweaks
